
.putaeddu{
    margin-top: 5%;
}

.Titulo-Productos {
    margin-top: 40px;
    display: flex;
    justify-content: center;
 }
 
.contenidotodo {
   background-color: white;
   width: 100%;
  
}

.Contenido-producto {
   width: 50%;
}

 .Productos-Mostrados{
    display: flex;
   width: 100%;
   margin: auto;
   background-color: white;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   border-bottom: solid 1px rgb(205, 203, 203);
   max-height: 200px;

   justify-content: center;
    
 }
 
 .Productos-Mostrados .Imagen{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 120px;
   background-color: rgba(0,0,0,.04);
    justify-content: center;
    margin: auto;
   margin-left: 10px;
   border-radius: 10px;
    
   
 }
  
.Contenido-producto {
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-left: 10px;
  
 
}

.Contenido-producto h3{
   display: flex;
   margin-top: 7px;
   font-size: 1.3rem;
}
.Contenido-producto .descripcionproducto{
   display: flex;
   margin-top: 7px;
   font-size: 1rem;
   justify-content: start;
  
  

}
 
 
.Imagen img {
    width: 80%;
    height: 110px;
    margin: auto;
 }

 @media (min-width:800px) {

   .Titulo-Productos h1 {
    font-size: 4rem;
    font-weight: 700;

   }
   .Titulo-Productos span {
      font-size: 4rem;
     }

   .Contenido-producto {
     height: 160px; 
   }
   .Contenido-producto h3{
      display: flex;
      margin-top: 7px;
      font-size: 2.5rem;
   }

   .Productos-Mostrados {
    width: 100%;
   
   }

   main {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    
      
   }
   .contenidotodo {
      width: 80%;
      
      height: 160px;
      border-radius: 20px;
     
      
   }
   .contodo {
      width: 80%;
      margin: 10px;
      background-color: white;
      height: 160px;
   
   }
   .Contenido-producto h4{
      display: flex;
    
      font-size: 1.6rem;
      justify-content: start;
      align-items: flex-start;
      
   }
  
   .Productos-Mostrados{
      display: flex;
     width: 100%;
     margin: auto;
     background-color: white;
     border-bottom: solid 0px rgb(205, 203, 203);
     height: 170px;
  
     justify-content: center;
      
   }

   .Productos-Mostrados .Imagen{
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      height: 160px;
     background-color:white;
      justify-content: center;
      margin: auto;
   
     border-radius: 10px;
      
     
   }
   .Imagen img {
      width: 80%;
      height: 150px;
      margin: auto;
   }
   .Contenido-producto .descripcionproducto{
      display: flex;
      margin-top: 7px;
      font-size: 1rem;
      justify-content: start;
      min-height: 0px;
      text-align: justify;
      margin-right: 20px;
   
   }
   .Contenido-producto .descripcionproducto h4{
     
   
     width: 100%;
   }
    
    
 }