*{
    box-sizing: border-box;
    margin: 0;
    margin: 0;
}

.barra-navegacion{
    display: flex;
    list-style: none;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: end;
    background-color:  #02133e;
}
.barra-navegacion img{
 
    width: 50px;
    height: 50px;

}

.lista {
    display: flex;
    list-style: none;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: end;
    background-color:  #02133e;

}

.elemento-lista {

    padding: 25px;
}
.elemento-lista a {

    text-decoration: none;
    color: white;
}
.elemento-lista p {

    text-decoration: none;
    color: white;
}
.imagen-titulo {
    background-image: url(contact-info.webp);
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagen-titulo h1 {
  color: white;
  font-size: 40px;
}

.mapa {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.mapa img {
    width: 80%;
}

.contenido-idea {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}


.ideageneral {
    display: flex;
    flex-direction: column;
    text-align: center;
}



.chat {
    background-image: url(bg-1.webp);
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}


.contamos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chathablante{
    display: flex;
    width: 100%;
    height: 450px;
    flex-wrap: wrap;
    border: solid 1px rgba(0,0,0,.1);
}

.headerchat{
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px rgba(0,0,0,.1);
    margin-bottom: 5px;
}

.headerchat h1{
    margin: 20px;
}

.headerchat img {
    margin: 20px;
    height: 70px;
    width: 70px;
    border-radius: 100px;
}

.chatmensajes {
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: column;
    align-items: center;
}

.mensajeenviado {
    display: flex;
    background-color: #dde9f5 ;
    width: 90%;
    height: 50px;
    align-items: center;
    border-radius: 15px;
   
    margin: 5px;
    margin-right: 20px;

}

.mensajeenviado img {
    margin: 20px;
    height: 40px;
    width: 40px;
    border-radius: 100px;
}

.mensajerecibido {
    margin: 5px;
    display: flex;
    justify-content: end;
    background-color: #606e77 ;
    width: 90%;
    height: 50px;
    align-items: center;
    margin-left: 20px;
    border-radius: 15px;
}


.mensajerecibido img {
    margin: 20px;
    height: 40px;
    width: 40px;
    border-radius: 100px;
}

.acepto {
    margin: 5px;
    display: flex;
    width: 50%;
    height: 100px;
    align-items: center;
    border-radius: 15px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #dde9f5 ;
}

.trato {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.acepto img {

    height: 40px;
    width: 40px;
    border-radius: 100px;
}

.aceptar {
    width: 80px;
    height: 30px;
    background-color: green;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.rechazar {
    width: 80px;
    height: 30px;
    background-color: red;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.certificacion {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.textocertificacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fotocertificacion {
    width: 100%;
}

.fotocertificacion img {
    width: 100%;
}

footer {
    color: white;
    background-color:  #02133e;
    text-align: center;
    height: 113px;
}
.listafooter {
    display: flex;
    list-style: none;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color:  #02133e;
    

}

.listafooter a {
    display: flex;
    list-style: none;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color:  #02133e;
    

}
::-webkit-scrollbar {
    display: none;
    }

@media (min-width:800px) {

    .contamos {
  
        width: 40%;
    
    }

    .chathablante {
        width: 40%;
    }

    .textocertificacion {
        width: 40%;
        }
    .fotocertificacion {
        width: 40%;
    }


}