:root{
    /*Colores Primario*/
    --azul:#0367A6;
    --rojo:#ee0510;
    --blanco:rgb(255, 255, 255);
    --menu: rgb(16, 6, 65);
    /*Colores Secundario*/
    --sub_rojo: #e23d3d;
    --sub_gris: #ffffff0a;
    --sub_gris2:#3a3a3a;
    --sub-celeste: #abcde6;



    /*margin: 0%;
    width: 100%;*/
}
body{  background-color: white;
    }

/*Global*/
main {
    margin: 5%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    height: auto;
}

main p {
    text-align: justify;
}

main img {
    width: 5%;

}

main h3 {
    color: #0D70B2;
    font-weight: 500;
}

main h2{
    font-weight: 500;
    margin: 5%;
}

/*Contenedor informacion*/
.contendor-inf {

    padding: 2%;
    margin-right: 1%;
    width: 35%;
}

.contenedor-informativo {
    background-color: rgba(255, 255, 255, 0.575);
    margin-top: 2%;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.623);
}

/*Contenedor Formulario*/
.contenedor-form {
    background-color: rgba(255, 255, 255, 0.575);
    width: 50%;
    padding: 3px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.623);
    height: 495px;
}

.contenedor-dato{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin: 5%;
}

.contenedor-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
}

.entradaapellido{
    margin-left: 10%;
}

.contenedor-datosnb{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0%;
}






.contenedor-dato img{
    width: 12%;
    margin-right: 4%;
}

.contenedor-dato input{
    padding-left: 2px;
    width: 80%;
    border: none;
}

.contenedor-dato{
    width: 35%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.623);
}

.contenedor-dato2{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-left: 5%;
}

.contenedor-dato2 img{
    width: 12%;
    margin-right: 4%;
}

.contenedor-dato2 input{
    padding-left: 2px;
    width: 80%;
    border: none;
}

.contenedor-dato2{
    width: 35%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.623);
}


.contenedor-dato3{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-left: 5%;
}

.contenedor-dato3 img{
    width: 12%;
    margin-right: 4%;
}

.contenedor-dato3 input{
    padding-left: 2px;
    width: 80%;
    border: none;
}

.contenedor-dato3{
    width: 35%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.623);
}

/*Personalizacion botton*/

.contenedor-button .default-btn {
    width: auto;
    text-decoration: none;
    
    color: var(--blanco);
    background-color: var(--azul);
    border: transparent;
    border-radius: 30px;
    font-weight: 600;
    font-size: 15px;
    padding-left: 6px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 6px;
}








@media (max-width:1030px){
    main{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
    }
    .contendor-inf {
        width: 90%;
    }
    .contenedor-form {
        width: 86.2%;
        position: relative;
        right:  1%;
    }
}
